<ul class="recommended">
    <li>
        <a href="https://github.com/projectkudu/kudu/wiki" target="_blank">Overview</a>
        <p>Azure Site Extensions help you manage your Azure Websites.</p>
    </li>
    <li>
        <a href="http://azure.microsoft.com/en-us/solutions/web/" target="_blank">Azure Websites</a>
        <p>Site Extensions run on Microsoft Azure Websites</p>
    </li>
    <li>
        <a href="http://azure.microsoft.com/en-us/support/legal/website-terms-of-use/" target="_blank">Terms of Use</a>
        <p>Microsoft Azure Website Terms of Use</p>
    </li>
    <li>
        <a href="http://azure.microsoft.com/en-us/support/legal/privacy-statement/" target="_blank">Privacy</a>
        <p>Microsoft Azure Privacy Statement</p>
    </li>
    <li>
        <a href="http://docs.nuget.org/" target="_blank">NuGet</a>
        <p>Install NuGet and create Site Extensions as a NuGet package.</p>
    </li>
</ul>
<div class="license">
</div>
