@{
    ViewBag.Title = "Home";
    ViewBag.Tab = "Home";
}
<section class="featured">
    <div>
        <h1>What are Site Extensions?</h1>
        <p>Site Extensions enhance your ability to manage your Azure Websites.</p>
        <a class="install" href="http://azure.microsoft.com/en-us/solutions/web/" target="_blank">Try Azure Websites</a>
        <a class="install" href="https://manage.windowsazure.com" target="_blank">Azure Management Portal</a>
    </div>
    <img src="/Branding/Content/Logos/SiteExtensionsHero.png" style="width: 50%;max-height: 100%" alt="Manage Site Extensions Dialog Window" />
</section>

<section class="aggstats">
    <span class="stat">
        <span id="UniquePackages" class="num"></span> unique extensions
    </span>
    <span class="stat">
        <span id="Downloads" class="num"></span>total downloads
    </span>
    <span class="stat">
        <span id="TotalPackages" class="num"></span>total extensions
    </span>
</section>

<section class="aggstatserr">
    <span class="err">an error occurred while retrieving statistics</span>
</section>
